page-main {
.bg{
    background: url(../../assets/imgs/カラフルなアプリのタイルiPhone-7-Plus抽象壁紙.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn{

   margin: auto;
   padding: 0px;
   width: 80%;
   margin-left: 10%;
   border: 1px solid ;
}
.p{height: 75%;

   
}

h1{padding-top: 200px;

font-size:100px;

}
a{
    color: rgba(250, 140, 15, 0.979);
}
}
