page-sports {


    h3{

        font-size: 20px;
    }
    
    .bg{
    
        background:url(../../assets/imgs/カラフルなアプリのタイルiPhone-7-Plus抽象壁紙.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    select{
        width: 100%;
        height: 20%;
       
    }
    .f{height: 80%;
        
        border: 5px solid rgba(15, 15, 15, 0.479);
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px ;
        background: rgba(255, 255, 255, 0.5);
    }
    
    .y{
        border: 1px solid;
    }
    
    .t{
        background: rgba(243, 241, 241, 0.158);
    }
    
    
}


